<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <!-- Formulario para nueva reparación -->
      <h3>Registrar Ingreso</h3>
      <form action="/guardar" method="POST">
        <input type="text" name="nombre" placeholder="Nombre del Cliente" required>
        <input type="text" name="equipo" placeholder="Equipo (Ej: Notebook Bangho)" required>
        <textarea name="falla" placeholder="Descripción del problema"></textarea>
        <button type="submit">Guardar en Base de Datos</button>
      </form>

      <hr>

      <h2>Equipos en el Taller</h2>
      <div id="lista-reparaciones">
        <% if (lista.length > 0) { %>
          <% lista.forEach(cliente => { %>
            <div class="reparacion-card">
              <strong><%= cliente.nombre %></strong> - <span><%= cliente.equipo %></span>
              <p>Falla: <%= cliente.falla %></p>
              <small>Estado: <b><%= cliente.estado %></b></small>
            </div>
          <% }) %>
        <% } else { %>
          <p>No hay equipos registrados todavía.</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
